Q 7

In [25]:
def student_records(records):
    for year, branches in records.items():
        print(f"Year: {year}")
        for branch, student in branches.items():
            print(f'  {branch}')
            print(f'     Name: {student["Name"]}, Roll Number: {student["Roll Number"]}')
            print(f'    Marks:')
            for subject, marks in student["Marks"].items():
                print(f'      {subject}: {marks}')


                
Data={
    2022:{
        'Branch: 1':{
        'Roll Number':1,'Name':'A','Marks':{'Maths':85,'English':69}},
        'Branch: 2':{
        'Roll Number':1,'Name':'B','Marks':{'Physics':63,'Chemistry':94}}},
    2023:{'Branch: 1':{'Roll Number':1,'Name':'C','Marks':{'Maths':100,'English':73}},
           'Branch: 2':{'Roll Number':2,'Name':'L','Marks':{'Physics':60,'Chemistry':75}}},
    2024:{'Branch: 1':{'Roll Number':1,'Name':'A','Marks':{'Maths':60,'English':58}},
          'Branch: 2':{'Roll Number':2,'Name':'F','Marks':{'Physics':60,'Chemistry':60}}},
    2025:{'Branch: 1':{'Roll Number':1,'Name':'B','Marks':{'Maths':60,'English':83}},
         'Branch: 2':{'Roll Number':2,'Name':'K','Marks':{'Physics':79,'Chemistry':59}}}
}


# Printing the Hierarchical information
student_records(Data)

Year: 2022
  Branch: 1
     Name: A, Roll Number: 1
    Marks:
      Maths: 85
      English: 69
  Branch: 2
     Name: B, Roll Number: 1
    Marks:
      Physics: 63
      Chemistry: 94
Year: 2023
  Branch: 1
     Name: C, Roll Number: 1
    Marks:
      Maths: 100
      English: 73
  Branch: 2
     Name: L, Roll Number: 2
    Marks:
      Physics: 60
      Chemistry: 75
Year: 2024
  Branch: 1
     Name: A, Roll Number: 1
    Marks:
      Maths: 60
      English: 58
  Branch: 2
     Name: F, Roll Number: 2
    Marks:
      Physics: 60
      Chemistry: 60
Year: 2025
  Branch: 1
     Name: B, Roll Number: 1
    Marks:
      Maths: 60
      English: 83
  Branch: 2
     Name: K, Roll Number: 2
    Marks:
      Physics: 79
      Chemistry: 59

Q 8

In [26]:
class Student:
    def __init__(self, name, roll_number, marks):
        self.name = name
        self.roll_number = roll_number
        self.marks = marks

    def __str__(self):
        return f"\n        Name: {self.name}, Roll Number: {self.roll_number}\n            Marks: {self.marks}"


class Branch:
    def __init__(self, name, students):
        self.name = name
        self.students = students

    def __str__(self):
        return f" \n    {self.name}: \n      Students: {', '.join(str(student) for student in self.students)}"


class Year:
    def __init__(self, year, branches):
        self.year = year
        self.branches = branches

    def __str__(self):
        return f"Year: {self.year} \n  Branches: {', '.join(str(branch) for branch in self.branches)}"


# Example:
student1 = Student("John Doe", "21001", {"Math": 90, "English": 85, "Science": 92})
student3 = Student("Jhonny Depp", "21001", {"Math": 88, "English": 90, "Science": 95})
student2 = Student("Jane", "21002", {"Math": 58, "English": 70, "Science": 65})
student4 = Student("Hanna", "21002", {"Math": 58, "English": 70, "Science": 65})
student5 = Student("Peter", "22001", {"Math": 90, "English": 85, "Science": 92})
student6 = Student("Emma", "22001", {"Math": 88, "English": 90, "Science": 95})
student7 = Student("Harry", "22002", {"Math": 58, "English": 70, "Science": 65})
student8 = Student("Ron", "22002", {"Math": 58, "English": 70, "Science": 65})

branch1 = Branch("Computer Science", [student1, student2])
branch2 = Branch("Electrical Engineering", [student3, student4])
branch3 = Branch("Computer Science", [student5, student6])
branch4 = Branch("Electrical Engineering", [student7, student8])

year1 = Year(2021, [branch1, branch2])
year2 = Year(2022, [branch3, branch4])

database = [year1, year2]

# Print the database
for year in database:
    print(year)

Year: 2021
  Branches:
    Computer Science:
      Students:
        Name: John Doe, Roll Number: 21001
            Marks: {'Math': 90, 'English': 85, 'Science': 92},
        Name: Jane, Roll Number: 21002
            Marks: {'Math': 58, 'English': 70, 'Science': 65},
    Electrical Engineering:
      Students:
        Name: Jhonny Depp, Roll Number: 21001
            Marks: {'Math': 88, 'English': 90, 'Science': 95},
        Name: Hanna, Roll Number: 21002
            Marks: {'Math': 58, 'English': 70, 'Science': 65}
Year: 2022
  Branches:
    Computer Science:
      Students:
        Name: Peter, Roll Number: 22001
            Marks: {'Math': 90, 'English': 85, 'Science': 92},
        Name: Emma, Roll Number: 22001
            Marks: {'Math': 88, 'English': 90, 'Science': 95},
    Electrical Engineering:
      Students:
        Name: Harry, Roll Number: 22002
            Marks: {'Math': 58, 'English': 70, 'Science': 65},
        Name: Ron, Roll Number: 22002
            Marks: {'Math': 58, 'English': 70, 'Science': 65}